@charset "utf-8";
/* CSS for Raptors Web Site */

/* This rule will style the main page body */
body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
  font-size: 0.9em;
  padding: 0;
  margin: 0;
}

#edges {
  background-color: #ffffff;
  color: black;
  margin: 25px;
}

p {
  padding-bottom: 5px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: red;
  border-bottom-width: 3px;
  border-bottom-style: dotted;
  border-bottom-color: blue;
  border-left-width: 5px;
  border-left-style: dashed;
  border-left-color: yellow;
  border-right-width: 20px;
  border-right-style: double;
  border-right-color: fuchsia;
}

h1,
h2,
h3 {
  font-family: "Times New Roman";
  font-weight: bold;
}

h1 {
  color: #43743d;
  font-size: 1.7em;
}

h2 {
  color: #000000;
  font-size: 1.2em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #889a9c;
}

h3 {
  color: #889a9c;
  font-size: 1em;
}

/* hyperlink rules */
a {
  color: #000000;
}
a:link {
  color: #000000;
}
a:visited {
  color: #43743d;
}
a:hover {
  color: #80b939;
}
a:active {
  color: #80b939;
}
